{% extends 'base.html' %}

{% load static %}

{% block title %}Await approval{% endblock %}

{% block content %}


<div class="container">
    <h1 class="text-center">Thank you for your post. Once it has been reviewed it will be published to the main site.
    </h1>
    <p class="text-center contrast">Kind Regards</p>
    <h2 class="text-center">The Happy Heath Team</h2>
    <hr>
    <div class="image-div">
        <img src="{% static 'images/happy-heath-big.webp' %}" alt="big happy heath">
    </div>
    <hr>
    <p class="text-center contrast">Please feel free to enjoy the rest of the content on this site by clicking <a
            href="{% url 'home' %}" class="link">here</a> or pressing on Home at the top of the page.
    </p>
</div>

{% endblock %}