{% extends "base.html" %}

{% load static %}

{% block title %}Delete post{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center warning">Warning - you are about to delete your post</h1>
    <p class="text-center approval-p">Are you sure you want to delete "{{ post.title }}"? Once confirmed this action can
        not be undone.</p>
    <form method="post">
        {% csrf_token %}
        <div class="image-div">
            <button type="submit" class="btn-danger">Confirm Delete</button>
        </div>
        <hr>
    </form>
    <a href="{% url 'home' %}" class="image-div cancel">Cancel</a>
    <div class="image-div">
        <img src="{% static 'images/grumpy-big.webp' %}" alt="big grumpy croasdale">
    </div>
</div>

{% endblock %}