{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Welocme all to Happy Heath where we come together to support our community</h1>
<h2>Read the blogs</h2>
<p>Enjoy the content and explore businesses local to you</p>
<hr>
<h2>Engage with the community</h2>
<p>Register with us and enjoy conversation with like minded people in the comments section on each post</p>
<hr>
<h2>Write you own blog</h2>
<p>Take the time to tell us all about your experiences with a local business. Please remember though that whilst your
    experience may not have been the best these businesses are always looking to improve. There may be mitigating
    services and these should be exlpored before posting any negative reviews. Try and Keep it positive and most of all,
    have fun</p>
<hr>
<img src="{% static 'images/happy-heath-logo.webp' %}">    


{% endblock%}