{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="home">
    <h1>Welcome to Happy Heath</h1>
    <img src="{% static 'images/happy-heath-logo.webp' %}">
    <br>
    <h2>Read the blogs</h2>
    <p class="contrast">Enjoy the content and explore businesses local to you</p>
    <br>
    <h2>Engage with the community</h2>
    <p class="contrast">Register with us and enjoy conversation with like minded people in the comments section on each post</p>
    <br>
    <h2>Write you own blog</h2>
    <p class="contrast">Take the time to tell us all about your experiences with a local business. Please remember though that whilst
        your
        experience may not have been the best these businesses are always looking to improve. There may be mitigating
        services and these should be exlpored before posting any negative reviews. Try and Keep it positive and most of
        all,
        have fun</p>
    
</div>

{% endblock%}